@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.tab {
  padding-top: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  width: 50%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  -webkit-font-smoothing: antialiased
}

ul.tabs.active{
  margin:auto;
}

p {
  font-weight: 400;
  line-height: 1.5;
  color: #888;
  font-size: 0.85em;
}

a:link{
  color: #87d3b7;
}

a:visited{
  color: #87d3b7;
}

 .jumbotron{
   border-bottom: 1px solid #888;
 }
 .logo{
max-width: 70px;
max-height: 70px;
margin-bottom: 30px;
}

.tabs {
  float: none;
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: inherit;
}

.tabs li {
  float: left;
  align-items: center;
  line-height: 48px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.tabs a {
  background-color: #eff0f2;
  border-bottom: 1px solid #fff;
  color: #888;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #87d3b7
}

.tabs_item {
  display: none;
  padding: 30px;
}

.tabs_item h4 {
  font-weight: bold;
  color: #87d3b7;
  font-size: 20px
}

.tabs_item h2 {
  letter-spacing: 0.2em;
  text-align: center;
  color: #888;
  background-color: #eff0f2;
}
/*
body {
  background-image: url("https://s3-us-west-2.amazonaws.com/web-design-ext-production/p/General_Do_SingleColor_474x356.png");
}*/

.tabs_item img {
  width: 200px;
  float: left;
  margin-right: 30px
}

.tabs_item:first-child {
  display: block
}

.current a {
  color: #fff;
  background: #87d3b7
}
